/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}


.container-fluid article{
    margin:1vh 2vh;
    padding:2vh;
    /*background: gray;*/
    background: linear-gradient(150deg, rgba(230, 255, 40, 0.83) 30%, rgba(175, 255, 3, 0.784) 40%);
    font-weight: 700;
    border:2px solid black;
    border-radius: 1vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.651) inset;


}
.container-fluid article h2,h3{
     background: linear-gradient(150deg, rgba(228, 255, 19, 0.83) 70%, rgba(175, 255, 3, 0.784) 30%);
    color: rgb(16, 28, 255);
    font-weight: bold;
}
.container-fluid article p{
    font-size: 1.3em;
    font-weight: 700;

}


.getstarted{
    margin:1vh 2vh;
    padding:1vh;
    border-radius: 1rem;
    background: #51fc1357;
    font-size: 1.2rem;
    font-weight: 700;
    border:0.5vh solid gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.651) inset;
}

.components, .services, .modules, .routing {
    background-color: rgba(0, 255, 21, 0.378);
    margin: 1rem;
    padding:1rem;
    border:0.51vh double black;
    border-radius: 1vh;
}
.components h2, .services h2, .modules h2, .routing h2 {
    margin:-1rem -1rem 1rem -1rem;
    padding:0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid black;
    border-radius: 1vh;
    background: linear-gradient(150deg, rgba(228, 255, 19, 0.83) 70%, rgba(175, 255, 3, 0.784) 30%);
}

ul li {
    list-style-type:square;
    padding: 0.5rem;
    position: relative;
}
ul{
    margin-left:1rem;
    /* background: #000; */
}




.commands, .components pre, .services pre, .modules pre, .routing pre {
    background-color: #f8f9fa;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow-x: auto;
}
#collapsibleNavbar ul li{
    list-style-type: none;
    font-weight: 700;
}
.navbar{
    background: gainsboro;
}
.navbar a{
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}
.container{
    margin:1rem;
    /* padding:0.5rem; */
    background: #f7ff0cbd;
    color:#333;
    /* border: 1px solid black; */
    border-radius: 1vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.651) inset;
}
.container #error{
    font-size: 1.5rem;
    font-weight: 700;
}