*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
section{
    margin:1rem 0;
    padding:1rem;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
}
.html dd{
    color:rgb(7, 7, 184);
    font-size: 1.2rem;
    font-weight: bold;
}
  
  body {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  .container {
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .list-group {
    margin-bottom: 20px;
  }
  
  .list-group-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .list-group-item:hover {
    background-color: #f5f5f5;
  }
  
  .list-group-item-action {
    color: #111315;
    text-decoration: none;
  }
  .list-group-item-action b{
    font-size: 1.2em;

    color: blue;
    text-decoration: none;
  }
  .list-group-item-action:hover {
    color: #23527c;
    text-decoration: none;
  }
  
  /* Definition List Styles */
  

  


  
 
  
  /* Other Styles */
  
  b {
    font-weight: bold;
  }
  
  i {
    font-style: italic;
  }